    .delete-modal {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100dvh;
        right: 0;
        background-color: rgba(0, 0, 0, 0.166);
        padding: 5rem 0;
        .content{
            width: 50%;
            margin: auto;
            background-color: white;
            overflow: hidden;
            border-radius: 1rem;
            .title{
                display: flex;
                flex-direction: column;
                padding: 2rem;
                gap: 0.5rem;
            }
            .actions{
                display: flex;
                flex-direction: row;

                button{
                    flex:1;
                    border: none;
                    padding: 1rem;
                    font-weight: 600;
                }
                .confirm{
                    background-color: rgb(224, 19, 19);
                    color: white;
                }
            }
        }
    }