@use 'fonts' as *;
@mixin flex($direction:row,$justify:start,$align:start,$gap:0){
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
gap:$gap
}

@mixin TextPreset1{
    font-size: 24px;
    letter-spacing: 0px;
    @include TextXB;
}

@mixin TextPreset2{
    font-size: 16px;
    letter-spacing: 0px;
    @include TextSB;
}

@mixin TextPreset3{
    font-size: 14px;
    line-height: 20%;
    @include TextRegular;
}

//country name
@mixin TextPreset4{
    @include TextXB;
    font-size: 18px;

    letter-spacing: 0px;
}

//Country detail title
@mixin TextPreset5{
    @include TextSB;
    font-size: 14px;

    letter-spacing: 0;
}

//country detail value
@mixin TextPreset6{
    @include TextLight;
    font-size: 16px;
   line-height: 32px;
    letter-spacing: 0px;
}

@mixin TextPreset7{
    @include TextSB;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
}

@mixin TextPreset8{
    @include TextLight;
    font-size: 14px;
}
