
//colors
$light-bg:#F6F6F6;
$light-header-bg: #17141D;//#ffffff
$light-text-color: #9892A0;
$light-search-color: #848484;


$dark-bg: #17141D;
$dark-header-bg: #2B3844;
$dark-text-color: #9892A0;
$dark-search-color: #ffffff;

$shardow-color: rgba(0,0,0,0.056);
$accent: #EE5F2C;
$header-bg: #17141D;
