@use 'mixins' as *;
@use 'fonts' as *;

.social{
    width: 2rem;
    height: 2rem;
}
.social2{
      width: 2.2rem;
    height: 2.2rem;
}
.social3{
    width: 1.7rem;
    height: 1.7rem;
}
.detailscontainer{
 @include flex($direction:column,$justify:center,$align:center,$gap:2rem);
 padding-block: 2rem;
 margin:auto;
 .imgcont{
    width:20rem;
    height: 15rem;
    img{
        width:100%;
        height: 100%;
        object-fit: contain;
    }
 }
 h5{
    font-size: 1.6rem;
    @include TextXB;
 }
 .soli{
    margin-top: 1rem;
    @include flex($justify:center,$align:baseline,$gap:2rem);
 }
}