<section class="whole">
    @if(isLoading){
        <p>Loading...</p>
    }
    @else {
        @if(error()){
            <p>An error occured</p>
        }
        @else {
            <section class="head">
                <div>
                    <h4>AARON WISE  <span>Life LESSONS</span></h4>
                    <h2>Teaching to learn something</h2>
                    <p>A thoughtfully curated collection of podcast episodes featuring unique perspectives,
                         impactful stories, and thought-provoking conversations that challenge, inspire, 
                         and stay with you long after the episode ends</p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                        </svg>
                    </div>
                </div>
                <section class="imgcontainer">
                    <img src="/public/assets/playlisthero.jpg" alt="Playlist cover">
                </section>
            </section>
        }
    }
</section>