<section class="whole">
    <section class="main">
    <section class="head">
        <div class="headtext">
            <h2>Podcasting Experience</h2>
            <p>An in-depth journey through the world of podcasting — from
                 planning and producing episodes to hosting engaging 
                 conversations and building a loyal audience. With hands-on experience
                  in content development, audio editing, scriptwriting, and promotional 
                  strategy, I’ve helped bring stories to life and create a lasting impact through sound.
                </p>
                <button class="start">
                    <a routerLink="/">Start Listening</a>
                </button>
        </div>
            <div class="host">
            <img src="/assets/headteam.png" alt="Lady podcast host">
        </div>
    </section>
</section>
<section class="playlist">
    <div class="top">
        <div class="playlisticon">
            <img src="/assets/music.png" alt="Music Icon">
        </div>
        <h3>Featured Playlist</h3>
        <p>
            A handpicked mix of our most popular and memorable episodes — start
             listening now.
        </p>
    </div>
    <section class="card">
        
    </section>
</section>
</section>